<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理系统</title>
    <meta name="description" content="企业管理页面">
    <meta name="keywords" content="企业管理页面">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div id="app">
    <el-container>
        <el-header class="main-header" style="height:70px;">
            <nav class="navbar navbar-static-top" :class=''>
                <!-- Logo -->
                <a href="javascript:void()" class="logo" style="text-align:center">
                    <span class="logo-mini" v-show='isCollapse'>学生信息管理系统</span>
                    <span class="logo-lg" v-show='!isCollapse'>学生信息管理系统</span>
                </a>
                <a href="#" class="sidebar-toggle" @click="isClossTabFun">
                    <i aria-hidden="true"
                       :class="isCollapse?'el-icon-s-unfold':'el-icon-s-fold'"></i>
                </a>
                <div class="nav-search">
                    <el-input v-model="input" placeholder="请输入内容" size="small" prefix-icon="el-icon-search"></el-input>
                </div>
                <div class="right-menu">
                    <!--<span class="help"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>帮助</span>-->
                    <el-dropdown class="avatar-container right-menu-item" trigger="click">
                        <div class="avatar-wrapper">
                            <img th:src="@{/asserts/img/avatar5.png}" class="user-avatar">
                            &nbsp;{{userName}}
                        </div>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item divided>
                                <span style="display:block;" @click="handleCreate()">修改密码</span>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                <span style="display:block;"><a href="#" @click="logout()">退出</a></span>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
        </el-header>
        <el-container>
            <el-aside :width="tabWidth+'px'">
                <el-menu default-active="5-1" class="el-menu-vertical-demo" background-color="#108ee9"
                         @open="handleOpen"
                         @close="handleClose"
                         :collapse="isCollapse">
                    <sidebar-item v-for="menu in menuList" :key="menu.path" :item="menu"/>
                </el-menu>
            </el-aside>
            <el-container>
                <iframe name="right" id="iframepage" class="el-main"
                        src="/questionBasicList" width="100%" height="100%" frameborder="0" ranat="server"></iframe>
            </el-container>
        </el-container>
    </el-container>
    <input hidden="" th:value="${studentInfo.stuId}" ref="getValue">
    <input hidden="" th:value="${studentInfo.stuName}" ref="getValueName">
    <el-dialog title="修改密码" align="center" :visible.sync="dialogFormVisible" width="40%" top="8vh">

        <el-form label-width="120px" :model="ruleForm" :rules="rules" ref="ruleForm">

            <el-form-item label="学号：" prop="stuId">
                <el-input readonly v-model="ruleForm.stuId" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="姓名：" prop="stuName">
                <el-input readonly v-model="ruleForm.stuName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="请输入密码" prop="oldPass">
                <el-input type="password" v-model="ruleForm.oldPass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="请输入新密码" prop="pass">
                <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
            </el-form-item>

        </el-form>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="handleCreateCancel">取 消</el-button>
            <el-button type="primary" @click="update()">确 定</el-button>
        </div>
    </el-dialog>

</div>
</body>

<script th:src="@{/js/vue.js}" ></script>
<script th:src="@{/js/element-ui.js}" ></script>
<script th:src="@{/plugins/jquery/dist/jquery.js}" ></script>
<script th:src="@{/js/studentMenu.js}" ></script>
<script th:src="@{/js/base.js}" ></script>
<script th:src="@{/js/axios-0.18.0.js}" ></script>
<script>
    Vue.component('sidebar-item', {
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        template: `
        <div v-if="item.children">
            <template v-if="item.children.length == 0">
                <el-menu-item :index="item.path">
                <img :src="item.icon">&nbsp;&nbsp;
                {{item.title}}
                </el-menu-item>
            </template>

            <el-submenu v-else :index="item.path">
            <template slot="title" >
                    <img :src="item.icon">&nbsp;&nbsp;
                {{item.title}}
            </template>

            <template v-for="child in item.children">
                <sidebar-item
                v-if="child.children&&child.children.length>0"
                :item="child"
                :key="child.path"/>
                <el-menu-item v-else :key="child.path" :index="child.path" style='padding-left:53px'>
                <a :href="child.linkUrl" target="right">{{child.title}}</a>
                </el-menu-item>
            </template>
            </el-submenu>
        </div>`
    })
    new Vue({
        el: '#app',
        // router,
        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPass !== '') {
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                userName: sessionStorage.getItem("userName"),
                visible: false,
                isCollapse: false,
                tabWidth: 200,
                dialogFormVisible: false,
                test1: 1,
                intelval: null,
                winfo: 'winfo',
                data: [],
                menuList: [],
                input: '',
/*
                student: {
                    stuId: '',
                    stuName: '',
                    stuSex: '',
                    stuPassword: '',
                    stuNative: '',
                    stuBirthday: '',
                    major: {
                        id: '',
                        name: '',
                        dept_id: '',
                        dept_name: ''
                    },
                    stuClass: '',
                    stuDorm: '',
                    politic: {
                        id: '',
                        name: ''
                    },
                    nation: {
                        id: '',
                        name: ''
                    },
                    stuIDcard: '',
                    stuAddress: '',
                    schoolRoll: {
                        id: '',
                        name: ''
                    }
                },
*/
                ruleForm: {
                    stuId:'',
                    stuName:'',
                    oldPass:'',
                    pass: '',
                    checkPass: ''
                },
                rules: {
                    pass: [
                        {validator: validatePass, trigger: 'blur'}
                    ],
                    checkPass: [
                        {validator: validatePass2, trigger: 'blur'}
                    ]
                }


            }
        },
        created() {
            this.menuList = nemu.data
            if (this.userName != 'admin') {
                this.menuList.shift();
            }
        },
        methods: {
            update:function (){
                this.$refs['ruleForm'].validate((valid) => {
                    if (valid) {
                        axios.get("/student/updatePass/" + this.ruleForm.stuId+"/"+this.ruleForm.oldPass+"/"+this.ruleForm.pass).then(response => {
                            if(response.data.code == 200){
                                this.$message.success(response.data.message);
                            }else {
                                this.$message.error(response.data.message);
                            }
                        }).catch(error => {
                            console.dir(error);
                        });
                        this.dialogFormVisible = false;
                        this.ruleForm.oldPass='';
                        this.ruleForm.pass='';
                        this.ruleForm.checkPass='';
                    }

                });

            },
            handleCreateCancel() {
                this.dialogFormVisible = false;
            },
            handleCreate() {
                this.ruleForm.stuId=this.$refs.getValue.value;
                this.ruleForm.stuName=this.$refs.getValueName.value;
                this.dialogFormVisible = true;
            },
            handleOpen(key, keyPath) {
                // console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                // console.log(key, keyPath);
            },
            logout(){
                //window.location.href = "../login.html";
                // 发送axios请求，通知后台（销毁Session），退出
                axios.get("/logout").then((response)=>{
                    if(response.data.code==200){
                        window.location.href = "/index";
                    }else {
                        this.$message.error("退出失败！");

                    }
                });
            },
            isClossTabFun() {
                if (!this.isCollapse) {
                    this.tabWidth = 48;
                } else {
                    this.tabWidth = 200;
                }
                this.isCollapse = !this.isCollapse;
            }
        }
    })
</script>
</html>