<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>黑马面面</title>
    <meta name="description" content="发票详情">
    <meta name="keywords" content="发票详情">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/../plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/../css/style.css}">
</head>

<body class="hold-transition">
<div id="app" style="margin: 0 auto">
    <div class="app-container">
        <h2 class="titleInfo"><span>信息详情</span></h2>
        <div class="box common-table-border" style="margin-top: 15px;min-height: calc(100vh - 55px);">
            <input hidden="" th:value="${teacherInfo.teaId}" ref="getValue">
            <div class="content">
                <ul class="contentList clear">
                    <li style="width: 48%">【编号】：<span th:text="${teacherInfo.teaId}"></span></li>
                    <li style="width: 48%">【姓名】：<span th:text="${teacherInfo.teaName}"></span></li>
                    <li style="width: 48%">【性别】：<span th:text="${teacherInfo.teaSex}"></span></li>
                    <li style="width: 48%">【手机号】：<span th:text="${teacherInfo.teaPhone}"></span></li>
                    <li style="width: 48%">【住址】：<span th:text="${teacherInfo.teaAddress}"></span></li>
                    <li style="width: 48%">【部门】：<span th:text="${teacherInfo.dept.name}"></span></li>
                    <li style="width: 48%">【级别】：<span th:text="${teacherInfo.rank.name}"></span></li>
                </ul>
            </div>

            <div class="content">
                <el-button type="primary" @click="handleCreate">编辑</el-button>
                <el-button type="primary" @click="back()">返回</el-button>
            </div>
        </div>
    </div>

    <!-- 编辑方向弹层 -->
    <el-dialog title="个人信息" align="center" :visible.sync="dialogFormVisible" width="40%" top="8vh">
        <el-form label-width="120px" :model="teacher" :rules="rules" ref="teacher">

            <el-form-item label="编号：" prop="teaId">
                <el-input readonly v-model="teacher.teaId" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="姓名：" prop="teaName">
                <el-input readonly v-model="teacher.teaName" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="手机号：" prop="teaPhone">
                <el-input v-model="teacher.teaPhone" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="家庭住址：" prop="teaAddress">
                <el-select v-model="city1.id" placeholder="省"  @change="getshiList">
                    <el-option
                            v-for="item in productAreaList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>

                <el-select v-model="city2.id" placeholder="市"   @change="getquList">
                    <el-option
                            v-for="item in productAreaList1"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>

                <el-select v-model="city3.id" placeholder="区" @change="getpropertyList">
                    <el-option
                            v-for="item in productAreaList2"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
                <el-input v-model="value" placeholder="具体地址" autocomplete="off"></el-input>
            </el-form-item>


        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="handleCreateCancel">取 消</el-button>
            <el-button type="primary" @click="updateTeacher()">确 定</el-button>
        </div>
    </el-dialog>


</div>
</body>
<!-- 引入组件库 -->
<script th:src="@{/../js/vue.js}"></script>
<script th:src="@{/../js/element-ui.js}"></script>
<script th:src="@{/../js/base.js}"></script>
<script th:src="@{/../js/axios-0.18.0.js}"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            var validatorPhone = function (rule, value, callback) {
                if (value === '') {
                    callback(new Error('手机号不能为空'))
                } else if (!/^1\d{10}$/.test(value)) {
                    callback(new Error('手机号格式错误'))
                } else {
                    callback()
                }
            }
            return{
                /* dailys:[],*/
                baseData: base,
                id: '',
                result: {},
                teacher:{
                    teaId:'',
                    teaPassword:'',
                    teaName:'',
                    teaSex:'',
                    teaPhone:'',
                    teaAddress:'',
                    dept: {
                        id:'',
                        name:''
                    },
                    rank: {
                        id:'',
                        name:''
                    },
                    teaState:''

                },
                teacher0:{
                    teaId:'',
                    teaPassword:'',
                    teaName:'',
                    teaSex:'',
                    teaPhone:'',
                    teaAddress:'',
                    dept: {
                        id:'',
                        name:''
                    },
                    rank: {
                        id:'',
                        name:''
                    },
                    teaState:''

                },
                teacherNull:{
                    teaId:'',
                    teaPassword:'',
                    teaName:'',
                    teaSex:'',
                    teaPhone:'',
                    teaAddress:'',
                    dept: {
                        id:'',
                        name:''
                    },
                    rank: {
                        id:'',
                        name:''
                    },
                    teaState:''

                },
                productAreaList:[],
                city1:{
                    id:'',
                    name:'',
                    cid:''
                },
                productAreaList1:[],
                city2:{
                    id:'',
                    name:'',
                    cid:''
                },
                productAreaList2:[],
                city3:{
                    id:'',
                    name:'',
                    cid:''
                },
                value:'',
                dialogFormVisible: false,
                rules: {
                    teaPhone:[
                        { required: true, validator: validatorPhone, trigger: 'blur' },
                    ]
                }
            }


        },
        mounted() {

        },
        methods: {

            //返回上一级
            back: function () {
                window.history.back();
            },

            getAreaList() {
                axios.post("/city/findSheng").then(response=>{
                    this.productAreaList=response.data;
                }).catch(error=>{
                    console.dir(error)
                })
            },
            getshiList() {
                axios.post("/city/findById/"+ this.city1.id ).then(response=>{
                    this.city1=response.data;
                }).catch(error=>{
                    console.dir(error)
                });
                axios.post("/city/findByCid/"+ this.city1.id ).then(response=>{
                    this.productAreaList1=response.data;
                }).catch(error=>{
                    console.dir(error)
                })
            },
            getquList() {
                axios.post("/city/findById/"+ this.city2.id ).then(response=>{
                    this.city2=response.data;
                }).catch(error=>{
                    console.dir(error)
                });
                axios.post("/city/findByCid/"+ this.city2.id).then(response=>{
                    this.productAreaList2=response.data;
                }).catch(error=>{
                    console.dir(error)
                })
            },
            getpropertyList(){
                axios.post("/city/findById/"+ this.city3.id ).then(response=>{
                    this.city3=response.data;
                }).catch(error=>{
                    console.dir(error)
                });
            },


            findById:function (){
                axios.get("/teacher/findById0/" + this.$refs.getValue.value).then(response => {
                    this.teacher = response.data;
                }).catch(error => {
                    console.dir(error);
                });
            },
            updateTeacher:function () {
                this.$refs['teacher'].validate((valid) => {
                    if (valid) {
                        if(this.city3.name!='')
                            this.teacher.teaAddress=this.city1.name+this.city2.name+this.city3.name+this.value;
                        axios.post("/teacher/update", this.teacher).then(response => {
                            this.$message.success(response.data.message);
                        }).catch(error => {
                            console.dir(error);
                        });
                        //window.location.href="/student/findById/"+this.$refs.getValue.value
                        this.dialogFormVisible = false;
                    }

                });


            },
            // 修改
            handleCreate() {
                this.findById();
                this.getAreaList();

                this.dialogFormVisible = true;
            },

            //新增取消
            handleCreateCancel: function () {
                this.dialogFormVisible = false;
            },
        },
    })
</script>
</html>
